@font-face {
  font-family: 'Futura SC Demi';
  src: url("../font/FuturaSC-Dem.otf") format("opentype");
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

p {
  font-size: 1.6rem;
}

section {
  width: 100%;
  padding: 0 17px 30px;
  border: 1px solid red;
  overflow: hidden;
}

section:first-child {
  height: 100vh;
}

@media screen and (min-width: 700px) {
  section {
    padding: 0 70px 30px;
  }
}

.top-padding {
  padding-top: 74px;
}

header {
  width: 100vw;
  padding-right: 1em;
  padding-left: 1em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

header a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.main-nav {
  display: none;
  width: 100vh;
  margin-left: 25px;
  top: 0;
  position: fixed;
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  z-index: 9999;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  position: relative;
}

.main-nav ul li {
  margin-right: 25px;
  list-style: none;
  height: 100%;
  text-transform: uppercase;
}

.main-nav ul li a {
  color: #00ff9c;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
  color: black;
}

.main-nav ul li a:hover {
  color: #FF4E00;
}

.main-nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}

.main-nav ul li a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #FF4E00;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}

.main-nav ul li a:hover:after {
  transform: scale(1, 1);
}

@media screen and (min-width: 1000px) {
  .main-nav ul li a {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) {
  .main-nav {
    display: block;
  }
}

.social-nav {
  display: none;
  right: 25px;
  top: 36%;
  position: fixed;
  z-index: 9999;
  text-align: center;
  width: 3%;
}

.social-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  position: relative;
}

.social-nav ul a {
  color: #00ff9c;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
  color: black;
}

.social-nav ul a:hover {
  color: #FF4E00;
}

.social-nav ul a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: 0.5s;
  font-size: 1.8rem;
  line-height: 2;
}

.social-nav ul a:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

@media screen and (min-width: 1000px) {
  .social-nav ul a {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) {
  .social-nav {
    display: block;
  }
}

.intro-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  padding-top: 74px;
  justify-content: center;
}

.intro-wrapper .intro-content {
  text-align: center;
  margin-bottom: 8rem;
}

.intro-wrapper .intro-content h1 {
  font-family: "Futura SC Demi", sans-serif;
  margin: 0;
}

.intro-wrapper .intro-content .type-writer {
  font-family: "Futura SC Demi";
  font-size: 2.5rem;
  margin: 25px auto 0;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .intro-wrapper .intro-content {
    text-align: left;
  }
  .intro-wrapper .intro-content .type-writer {
    font-size: 4.5rem;
    text-align: left;
  }
  .intro-wrapper h1 {
    font-size: 5.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .intro-wrapper .type-writer {
    font-size: 5.5rem;
  }
  .intro-wrapper h1 {
    font-size: 7.2rem;
  }
}

.background-brown {
  background-color: #1D0F00;
  color: #FFFFFF;
}

.about-wrapper {
  height: 100%;
}

.about-wrapper .bio-img {
  margin: 0 auto;
  text-align: center;
}

.about-wrapper .bio-img img {
  max-width: 80%;
}

@media screen and (min-width: 700px) {
  .about-wrapper .bio-img img {
    max-width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .about-wrapper .bio-img img {
    max-width: 60%;
  }
}

.about-wrapper .myself {
  margin-bottom: 32px;
}

.about-wrapper .myself h2 {
  text-align: center;
}

.about-wrapper .myself p {
  line-height: 25px;
  margin-bottom: 0;
}

.about-wrapper .flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects-wrapper .work {
  width: 80%;
  margin-bottom: 5px;
  z-index: -1;
}

.projects-wrapper .work img {
  max-width: 100%;
}

.projects-wrapper .sub {
  display: none;
  position: relative;
}

.projects-wrapper .sub .sub-title-wrapper {
  width: 65%;
  height: 40%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.projects-wrapper .sub .sub-title-wrapper a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.projects-wrapper .sub .sub-title-wrapper a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #FF4E00;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}

.projects-wrapper .sub .sub-title-wrapper a:hover:after {
  transform: scale(1, 1);
}

@media screen and (min-width: 700px) {
  .projects-wrapper {
    flex-direction: row;
  }
  .projects-wrapper .work,
  .projects-wrapper .sub {
    width: 50%;
    margin-bottom: 0;
  }
  .projects-wrapper .sub {
    display: block;
  }
}

.contact-wrapper {
  height: 100%;
  text-align: center;
}

.contact-wrapper h2 {
  font-family: "Futura SC Demi";
}

.contact-wrapper .email a {
  color: #00ff9c;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
}

.contact-wrapper .email a:hover {
  color: #FF4E00;
}

.contact-wrapper p {
  font-size: 2rem;
  text-align: left;
  line-height: 25px;
}

.contact-wrapper p a {
  color: #00ff9c;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
}

.contact-wrapper p a:hover {
  color: #FF4E00;
}

@media screen and (min-width: 700px) {
  .contact-wrapper p {
    text-align: center;
  }
}

.contact-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}

.contact-wrapper ul a {
  color: #00ff9c;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
  color: #FFFFFF;
}

.contact-wrapper ul a:hover {
  color: #FF4E00;
}

.contact-wrapper ul a {
  font-size: 2rem;
  line-height: 2;
  text-decoration: none;
  margin-right: 10px;
}

#footer-container {
  text-align: center;
  height: 100%;
  padding: 0 17px 30px;
  margin-bottom: 55px;
}

@media screen and (min-width: 700px) {
  #footer-container {
    margin-bottom: 0;
  }
}

#footer-container h2 {
  font-family: "Futura SC Demi";
}

#footer-container span {
  font-size: 60%;
}

.detail-container .title-wrapper {
  padding: 74px 17px 0 17px;
  height: 45vh;
  position: relative;
}

.detail-container .title-wrapper h2 {
  margin: 0;
  position: absolute;
  top: 50%;
}

.detail-container .background-brown .dsc-wrapper {
  padding: 20px 17px;
}

.detail-container .background-brown .dsc-wrapper div .tags {
  margin: 20px auto;
  overflow: hidden;
  text-align: left;
}

.detail-container .background-brown .dsc-wrapper div .tags .tag {
  background: #ffffff26;
  border-radius: 3px 0 0 3px;
  color: #FFFFFF;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.detail-container .background-brown .dsc-wrapper div .tags .tag::before {
  background: #FF4E00;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.detail-container .background-brown .dsc-wrapper div .tags .tag::after {
  background: #1D0F00;
  border-bottom: 13px solid transparent;
  border-left: 10px solid  #ffffff26;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.detail-container .background-brown .ss-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.detail-container .background-brown .ss-wrapper img {
  max-width: 80%;
  margin-bottom: 5px;
}

.ityped-cursor {
  font-size: 3.8rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

.open .ityped-cursor {
  opacity: 0;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.slide-in {
  margin: 0 auto;
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/* ***********************************************************
* #global-nav
* *********************************************************** */
.open {
  overflow: hidden;
}

#global-nav {
  visibility: hidden;
  position: fixed;
  display: table;
  vertical-align: middle;
  color: #fff;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

#global-nav ul {
  display: table-cell;
  vertical-align: middle;
  list-style: none;
}

#global-nav ul li {
  opacity: 0;
  -webkit-transform: scaleX(0) translateX(-260px);
  transform: scaleX(0) translateX(-260px);
  -webkit-transition: none;
  transition: none;
}

#global-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.open #global-nav {
  z-index: 1000;
  visibility: visible;
}

.open #global-nav li {
  opacity: 1;
  -webkit-transform: scaleX(1) translateX(0);
  transform: scaleX(1) translateX(0);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

/* ***********************************************************
* nav-list
* *********************************************************** */
.open #global-nav ul li:nth-child(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.open #global-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.open #global-nav ul li:nth-child(4) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.open #global-nav ul li:nth-child(5) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

/* ***********************************************************
* #nav-bg
* *********************************************************** */
#nav-bg {
  content: "";
  width: 60px;
  height: 60px;
  left: calc((100% - 60px)/2);
  bottom: 10px;
  display: block;
  position: fixed;
  background: #FF4E00;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media screen and (min-width: 700px) {
  #nav-bg {
    display: none;
  }
}

.open #nav-bg {
  -webkit-transform: scale(30);
  transform: scale(30);
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

/* ***********************************************************
* #nav-toggle
* *********************************************************** */
#nav-toggle {
  display: block;
  position: fixed;
  left: calc((100% - 60px)/2);
  bottom: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 15px;
  z-index: 1001;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 700px) {
  #nav-toggle {
    display: none;
  }
}

#nav-toggle div {
  position: relative;
  display: flex;
  flex-direction: column;
}

#nav-toggle div span {
  /*   display: block; */
  height: 2px;
  width: 100%;
  background: #fff;
  /*   left: 0; */
  zoom: 1;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  margin: 4px 0;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 8px;
}

#nav-toggle span:nth-child(3) {
  top: 16px;
}

.open #nav-toggle {
  background: transparent;
}

.open #nav-toggle span {
  background: #fff;
}

.open #nav-toggle span:nth-child(1) {
  top: 9px;
  -webkit-transform: translateY(10px) rotate(-135deg);
  transform: translateY(10px) rotate(-135deg);
  zoom: 1;
}

.open #nav-toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}

.open #nav-toggle span:nth-child(3) {
  top: 9px;
  -webkit-transform: translateY(-10px) rotate(135deg);
  transform: translateY(-10px) rotate(135deg);
  zoom: 1;
}
