@charset "UTF-8";
.ityped-cursor {
  font-size: 3.8rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

.open .ityped-cursor {
  opacity: 0;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.slide-in {
  margin: 0 auto;
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Futura SC Demi';
  src: url("../../font/FuturaSC-Dem.otf") format("opentype");
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

p {
  font-size: 1.6rem;
}

section {
  width: 100%;
  padding: 0 17px 30px;
  overflow: hidden;
}

section:first-child {
  height: 100vh;
}

@media screen and (min-width: 700px) {
  section {
    padding: 0 70px 30px;
  }
}

.top-padding {
  padding-top: 74px;
}

.intro-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  padding-top: 74px;
  justify-content: center;
}

.intro-wrapper .intro-content {
  text-align: center;
  margin-bottom: 8rem;
}

.intro-wrapper .intro-content h1 {
  font-family: "Futura SC Demi", sans-serif;
  margin: 0;
}

.intro-wrapper .intro-content .type-writer {
  font-family: "Futura SC Demi";
  font-size: 2.5rem;
  margin: 25px auto 0;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .intro-wrapper .intro-content {
    text-align: left;
    margin-left: 3rem;
  }
  .intro-wrapper .intro-content .type-writer {
    font-size: 4.5rem;
    text-align: left;
  }
  .intro-wrapper h1 {
    font-size: 5.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .intro-wrapper .type-writer {
    font-size: 5.5rem;
  }
  .intro-wrapper h1 {
    font-size: 7.2rem;
  }
}

.background-brown {
  background-color: #4eaf99;
  color: #FFFFFF;
}

.about-wrapper {
  height: 100%;
}

.about-wrapper .bio-img {
  margin: 0 auto;
  text-align: center;
}

.about-wrapper .bio-img img {
  max-width: 80%;
}

@media screen and (min-width: 700px) {
  .about-wrapper .bio-img img {
    max-width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .about-wrapper .bio-img img {
    max-width: 60%;
  }
}

.about-wrapper .myself {
  margin-bottom: 32px;
}

.about-wrapper .myself h2 {
  text-align: center;
}

.about-wrapper .myself p {
  line-height: 25px;
  margin-bottom: 0;
}

.about-wrapper .flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.about-wrapper .two-col {
  opacity: 0;
}

@media screen and (min-width: 1000px) {
  .about-wrapper .two-col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
  }
  .about-wrapper .two-col .col {
    margin: 0 10px;
  }
}

.button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  width: 35%;
  text-align: center;
  margin: 4em auto 0;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #0B5351;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;
}

.button:hover {
  background: rgba(100, 0, 0, 0.03);
}

.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform .8s ease;
  will-change: transform;
}

.button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}

.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontal {
  transform: scaleX(0);
}

.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
  transform: scaleY(0);
}

.fadeinDown {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects-wrapper .work {
  position: relative;
  width: 80%;
  margin-bottom: 5px;
  overflow: hidden;
}

.projects-wrapper .work a {
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.projects-wrapper .work .scale-img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-wrapper .work .scale {
  transform: scale(1.1);
}

.projects-wrapper .sub {
  display: none;
  position: relative;
}

.projects-wrapper .sub .sub-title-wrapper {
  width: 65%;
  height: 40%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.projects-wrapper .sub .sub-title-wrapper a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.projects-wrapper .sub .sub-title-wrapper a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #F49D37;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}

.projects-wrapper .sub .sub-title-wrapper a:hover:after {
  transform: scale(1, 1);
}

.projects-wrapper .sub .sub-title-wrapper h2 + a {
  font-size: 1.6rem;
}

@media screen and (min-width: 700px) {
  .projects-wrapper {
    flex-direction: row;
  }
  .projects-wrapper .work,
  .projects-wrapper .sub {
    width: 50%;
    margin-bottom: 0;
  }
  .projects-wrapper .work a {
    display: none;
  }
  .projects-wrapper .sub {
    display: block;
  }
}

.contact-wrapper {
  height: 100%;
  text-align: center;
}

.contact-wrapper h2 {
  font-family: "Futura SC Demi";
}

.contact-wrapper .email a {
  color: #0B5351;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
}

.contact-wrapper .email a:hover {
  color: #F49D37;
}

.contact-wrapper .email a {
  font-size: 22px;
}

@media screen and (min-width: 700px) {
  .contact-wrapper .email a {
    font-size: 30px;
  }
}

.contact-wrapper p {
  font-size: 2rem;
  text-align: left;
  line-height: 25px;
}

.contact-wrapper p a {
  color: #0B5351;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
}

.contact-wrapper p a:hover {
  color: #F49D37;
}

@media screen and (min-width: 700px) {
  .contact-wrapper p {
    text-align: center;
  }
}

.contact-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}

.contact-wrapper ul a {
  color: #0B5351;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
  color: #FFFFFF;
}

.contact-wrapper ul a:hover {
  color: #F49D37;
}

.contact-wrapper ul a {
  font-size: 2rem;
  line-height: 2;
  text-decoration: none;
  margin-right: 10px;
}

header {
  width: 100vw;
  padding-right: 1em;
  padding-left: 1em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

header a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 12px;
  margin-bottom: 12px;
}

svg {
  width: 60px;
  height: 60px;
}

path, polygon {
  fill: none;
  stroke: #ff4e00;
  /*線の色を指定する*/
  stroke-dasharray: 2000;
  /*線の間隔を指定する*/
  stroke-dashoffset: 0;
  /*線の位置を指定する(IEは効かない属性)*/
  stroke-width: 1;
  /*線の太さを指定する*/
  -webkit-animation: hello 3s ease-in forwards;
  animation: hello 3s ease-in forwards;
}

polygon {
  stroke: #FF4E00;
  -webkit-animation: hello2 3s ease-in forwards;
  animation: hello2 3s ease-in forwards;
}

@-webkit-keyframes hello {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
    /*透過*/
  }
  50% {
    fill: transparent;
    /*透過*/
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ff4e00;
  }
}

@keyframes hello {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
    /*透過*/
  }
  50% {
    fill: transparent;
    /*透過*/
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ff8f6c;
  }
}

@-webkit-keyframes hello2 {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
    /*透過*/
  }
  50% {
    fill: transparent;
    /*透過*/
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ff0;
  }
}

@keyframes hello2 {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
    /*透過*/
  }
  50% {
    fill: transparent;
    /*透過*/
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ff0;
  }
}

#footer-container {
  text-align: center;
  height: 100%;
  padding: 0 17px 30px;
  margin-bottom: 55px;
}

@media screen and (min-width: 700px) {
  #footer-container {
    margin-bottom: 0;
  }
}

#footer-container h2 {
  font-family: "Futura SC Demi";
}

#footer-container span {
  font-size: 60%;
}

.detail-container .title-wrapper {
  padding: 74px 17px 0;
  height: 27rem;
  position: relative;
}

@media screen and (min-width: 700px) {
  .detail-container .title-wrapper {
    height: 40rem;
  }
}

.detail-container .title-wrapper h1 {
  position: relative;
}

@media screen and (min-width: 700px) {
  .detail-container .title-wrapper {
    padding: 74px 10% 0;
  }
  .detail-container .title-wrapper h1 {
    font-size: 5.2rem;
  }
}

.detail-container .background-brown.work-pg .mockups {
  width: 85%;
  transform: translateY(-20%);
  margin: 0 auto -20%;
}

.detail-container .background-brown.work-pg .mockups img {
  max-width: 100%;
}

.detail-container .background-brown.work-pg .dsc-wrapper {
  padding: 10px 20px 17px 20px;
}

@media screen and (min-width: 700px) {
  .detail-container .background-brown.work-pg .dsc-wrapper {
    padding: 45px 10%;
  }
}

.detail-container .background-brown.work-pg .dsc-wrapper div .tags {
  margin: 30px auto;
  overflow: hidden;
  text-align: left;
}

.detail-container .background-brown.work-pg .dsc-wrapper div .tags .tag {
  background: #ffffff26;
  border-radius: 3px 0 0 3px;
  color: #FFFFFF;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.detail-container .background-brown.work-pg .dsc-wrapper div .tags .tag::before {
  background: #F49D37;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.detail-container .background-brown.work-pg .dsc-wrapper div .tags .tag::after {
  background: #4eaf99;
  border-bottom: 13px solid transparent;
  border-left: 10px solid  #ffffff26;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.detail-container .background-brown.work-pg .ss-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.detail-container .background-brown.work-pg .ss-wrapper img {
  max-width: 90%;
  margin-bottom: 5px;
  opacity: 0;
}

@media screen and (min-width: 700px) {
  .detail-container .background-brown.work-pg .ss-wrapper img {
    max-width: 80%;
  }
}

.fadeinDown {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.page-link {
  margin: 0 auto;
  text-align: center;
}

.page-link h3 {
  display: inline-block;
  border: 2px solid #F49D37;
  padding: 8px;
  margin-bottom: 0;
  margin-top: 3.5rem;
}

.page-link h3 a {
  color: #0B5351;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
}

.page-link h3 a:hover {
  color: #F49D37;
}

.page-link h3 a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.page-link h3 a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #F49D37;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}

.page-link h3 a:hover:after {
  transform: scale(1, 1);
}

.page-link h3 a {
  color: white;
}

/* ***********************************************************
* #global-nav
* *********************************************************** */
.open {
  overflow: hidden;
}

#global-nav {
  visibility: hidden;
  position: fixed;
  display: table;
  vertical-align: middle;
  color: #fff;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

#global-nav ul {
  display: table-cell;
  vertical-align: middle;
  list-style: none;
}

#global-nav ul li {
  opacity: 0;
  -webkit-transform: scaleX(0) translateX(-260px);
  transform: scaleX(0) translateX(-260px);
  -webkit-transition: none;
  transition: none;
}

#global-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.open #global-nav {
  z-index: 1000;
  visibility: visible;
}

.open #global-nav li {
  opacity: 1;
  -webkit-transform: scaleX(1) translateX(0);
  transform: scaleX(1) translateX(0);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

/* ***********************************************************
* nav-list
* *********************************************************** */
.open #global-nav ul li:nth-child(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.open #global-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.open #global-nav ul li:nth-child(4) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.open #global-nav ul li:nth-child(5) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

/* ***********************************************************
* #nav-bg
* *********************************************************** */
#nav-bg {
  content: "";
  width: 60px;
  height: 60px;
  left: calc((100% - 60px)/2);
  bottom: 10px;
  display: block;
  position: fixed;
  background: #FF4E00;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 100;
}

@media screen and (min-width: 700px) {
  #nav-bg {
    display: none;
  }
}

.open #nav-bg {
  -webkit-transform: scale(30);
  transform: scale(30);
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

/* ***********************************************************
* #nav-toggle
* *********************************************************** */
#nav-toggle {
  display: block;
  position: fixed;
  left: calc((100% - 60px)/2);
  bottom: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 15px;
  z-index: 1001;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 700px) {
  #nav-toggle {
    display: none;
  }
}

#nav-toggle div {
  position: relative;
  display: flex;
  flex-direction: column;
}

#nav-toggle div span {
  /*   display: block; */
  height: 2px;
  width: 100%;
  background: #fff;
  /*   left: 0; */
  zoom: 1;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  margin: 4px 0;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 8px;
}

#nav-toggle span:nth-child(3) {
  top: 16px;
}

.open #nav-toggle {
  background: transparent;
}

.open #nav-toggle span {
  background: #fff;
}

.open #nav-toggle span:nth-child(1) {
  top: 9px;
  -webkit-transform: translateY(10px) rotate(-135deg);
  transform: translateY(10px) rotate(-135deg);
  zoom: 1;
}

.open #nav-toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}

.open #nav-toggle span:nth-child(3) {
  top: 9px;
  -webkit-transform: translateY(-10px) rotate(135deg);
  transform: translateY(-10px) rotate(135deg);
  zoom: 1;
}

.main-nav {
  display: none;
  width: 100vh;
  margin-left: 25px;
  top: 0;
  position: fixed;
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  z-index: 999;
  font-weight: bold;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  position: relative;
}

.main-nav ul a {
  padding: 3px;
}

.main-nav ul li {
  margin: 0 12px;
  list-style: none;
  height: 100%;
  text-transform: uppercase;
}

.main-nav ul li a {
  color: #0B5351;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
  color: black;
}

.main-nav ul li a:hover {
  color: #F49D37;
}

.main-nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}

.main-nav ul li a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #F49D37;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}

.main-nav ul li a:hover:after {
  transform: scale(1, 1);
}

@media screen and (min-width: 1000px) {
  .main-nav ul li a {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) {
  .main-nav {
    display: block;
  }
}

.social-nav {
  display: none;
  right: 25px;
  top: 36%;
  position: fixed;
  z-index: 9999;
  text-align: center;
  width: 3%;
}

.social-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  position: relative;
}

.social-nav ul a {
  color: #0B5351;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
  color: black;
}

.social-nav ul a:hover {
  color: #F49D37;
}

.social-nav ul a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: 0.5s linear;
  font-size: 1.8rem;
  line-height: 2;
}

.social-nav ul a:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

@media screen and (min-width: 1000px) {
  .social-nav ul a {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) {
  .social-nav {
    display: block;
  }
}
