@font-face {
  font-family: 'Futura SC Demi';
  src: url("../font/FuturaSC-Dem.otf") format("opentype");
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

p {
  font-size: 1.6rem;
}

section {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}

section:nth-child(3) {
  height: 150vh;
  padding: 0 17px;
}

section:nth-child(4) {
  height: 150vh;
  padding: 0 17px;
}

section:last-child {
  padding: 0 17px;
}

.top-padding {
  padding-top: 74px;
}

header {
  width: 100vw;
  padding-right: 1em;
  padding-left: 1em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

header a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.intro-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  padding-top: 74px;
  justify-content: center;
}

.intro-wrapper .intro-content {
  text-align: center;
  margin-bottom: 8rem;
}

.intro-wrapper .intro-content h1 {
  font-family: "Futura SC Demi", sans-serif;
  margin: 0;
}

.intro-wrapper .intro-content .type-writer {
  font-family: "Futura SC Demi";
  font-size: 2.5rem;
  margin: 25px auto 0;
  text-align: center;
}

.backgroud-brown {
  background-color: #1D0F00;
}

.about-wrapper {
  height: 100%;
  color: #FFFFFF;
}

.about-wrapper .myself {
  margin-bottom: 32px;
}

.about-wrapper .myself h2 {
  text-align: center;
}

.about-wrapper .myself p {
  line-height: 25px;
  margin-bottom: 0;
}

.about-wrapper .flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.projects-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects-wrapper .work {
  width: 100%;
  height: 270px;
  margin-bottom: 5px;
  background-color: grey;
}

.contact-wrapper {
  height: 100%;
  text-align: center;
  color: #FFFFFF;
}

.contact-wrapper h2 {
  font-family: "Futura SC Demi";
}

.contact-wrapper .email a {
  color: #00ff9c;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
}

.contact-wrapper .email a:hover {
  color: #FF4E00;
}

.contact-wrapper p {
  font-size: 2rem;
  text-align: left;
  line-height: 25px;
}

.contact-wrapper p a {
  color: #00ff9c;
  text-decoration: none;
  -webkit-transition: color ease;
  -moz-transition: color ease;
  -ms-transition: color ease;
  -o-transition: color ease;
  transition: color 1s;
}

.contact-wrapper p a:hover {
  color: #FF4E00;
}

.ityped-cursor {
  font-size: 3.8rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}
