
// Variable (Size)
$h1: 3.2rem;
$h2: 2.5rem;
$h3: 2.1rem;
$p: 1.6rem;

$h1-sm: 5.2rem;
$h1-md: 7.2rem;


// Variable (Font)
$font-Futura: 'Futura SC Demi';
$font-Roboto: 'Roboto';
$white: #FFFFFF;


$test-color: grey;
$test-border: 1px solid red;

// Variables (Color)
$orange: #FF4E00;
$dark-brown: #1D0F00;
$neon-green: #00ff9c;

// Variable (Other)
$section-padding-mobile: 0 17px 30px;
$section-padding-desktop: 0 70px 30px;
$line-height: 25px;

// Mixins
@mixin full-displayed {
  width: 100%;
  //height: 100vh;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@mixin hover {
  a {
    color: $neon-green;
    text-decoration: none;
    -webkit-transition: color ease;
    -moz-transition: color ease;
    -ms-transition: color ease;
    -o-transition: color ease;
    transition: color 1s;
    @content;

    &:hover {
      color: $orange;
    }

  }
}

@mixin hover-underline {

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    @content;

    &:after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: $orange;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform .5s;
    }

    &:hover:after {
      transform: scale(1, 1);
    }
  }

}

@mixin scale {
  a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: 0.5s;
    @content;
    
    &:hover {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
    }
  }
}


// Media Query

$breakpoints: (
        'sm': 'screen and (min-width: 700px)',
        'md': 'screen and (min-width: 1000px)',
        'lg': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


// Fonts
  @font-face {
    font-family: 'Futura SC Demi';
    src: url('../font/FuturaSC-Dem.otf') format('opentype');
  }


///////////////////////////////////////////////////////////////

// Base
html {
  font-size: 62.5%;
  font-family: $font-Roboto;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

p {
  font-size: $p;
}

section {
  @include full-displayed;
  padding: $section-padding-mobile;
  overflow: hidden;

  &:first-child {
    height: 100vh;
  }

  @include mq() {
    padding: $section-padding-desktop;
  }
}

.top-padding {
  padding-top: 74px;
}


// Header

header {
  width: 100vw;
  padding-right: 1em;
  padding-left: 1em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;

  a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}


// Main nav

.main-nav {
  display: none;
  width: 100vh;
  margin-left: 25px;
  top: 0;
  position: fixed;
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  z-index: 9999;
  font-weight: bold;

  ul {
    @include flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    position: relative;

    li {
      margin-right: 25px;
      list-style: none;
      height: 100%;
      text-transform: uppercase;

      @include hover() {
        color: black;
      }

      @include hover-underline() {
        font-size: 1.8rem;
      }

      @include mq(md) {
        a {
          font-size: 2.5rem;
        }
      }
    }
  }

  @include mq() {
    display: block;
  }
}

// Social Nav

.social-nav {
  display: none;
  right: 25px;
  top: 36%;
  position: fixed;
  z-index: 9999;
  text-align: center;
  width: 3%;

  ul {
    @include flex;
    flex-wrap: nowrap;
    list-style: none;
    position: relative;

    @include hover() {
      color: black;
    }

    @include scale() {
      font-size: 1.8rem;
      line-height: 2;
    }

    @include mq(md) {
      a {
        font-size: 2.5rem;
      }
    }
  }

  @include mq() {
    display: block;
  }
}


// Intro

.intro-wrapper {
  @include flex;
  height: 100vh;
  padding-top: 74px; // avoiding hiding behind header
  justify-content: center;

  .intro-content {
    text-align: center;
    margin-bottom: 8rem;

    h1 {
      font-family: $font-Futura, sans-serif;
      margin: 0;
    }

    .type-writer {
      font-family: $font-Futura;
      font-size: 2.5rem;
      margin: 25px auto 0;
      text-align: center;

    }
  }

  @include mq() {
    .intro-content {
      text-align: left;

      .type-writer {
        font-size: 4.5rem;
        text-align: left;
      }
    }

    h1 {
      font-size: $h1-sm;
    }
  }

  @include mq(md) {
    .type-writer {
      font-size: 5.5rem;
    }

    h1 {
      font-size: $h1-md;
    }

  }
}

// About Me

.background-brown {
  background-color: $dark-brown;
  color: $white;
}

.about-wrapper {
  height: 100%;

  .bio-img {
    margin: 0 auto;
    text-align: center;

    img {
      max-width: 80%;

      @include mq() {
        max-width: 70%;
      }

      @include mq() {
        max-width: 60%;
      }
    }
  }

  .myself {
    margin-bottom: 32px;

    h2 {
      text-align: center;
    }

    p {
      line-height: $line-height;
      margin-bottom: 0;
    }
  }

  .flex-wrap {
    @include flex;
    justify-content: space-around;
  }

  @include mq(md) {
    .two-col {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      .col {
        margin: 0 10px;
      }
    }

  }
}




// Projects

.projects-wrapper {
  @include flex;

  .work {
    width: 80%;
    margin-bottom: 5px;

    img {
      max-width: 100%;
    }
  }

  .sub {
    display: none;
    position: relative;

    .sub-title-wrapper {
      @include hover-underline;
      width: 65%;
      height: 40%;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
    }
  }

  @include mq() {

    flex-direction: row;

    .work,
    .sub {
      width: 50%;
      margin-bottom: 0;
    }

    .sub {
      display: block;
    }
  }
}

// Contact

.contact-wrapper {
  height: 100%;
  text-align: center;

  h2 {
    font-family: $font-Futura;
  }

  .email {
    @include hover;
  }

  p {
    @include hover;
    font-size: 2rem;
    text-align: left;
    line-height: $line-height;
    @include mq() {
      text-align: center;
    }
  }

  ul {
    @include flex;
    flex-wrap: nowrap;
    list-style: none;
    flex-direction: row;
    justify-content: center;

    @include hover() {
      color: $white;
    }

    a {
      font-size: 2rem;
      line-height: 2;
      text-decoration: none;
      margin-right: 10px;
    }
  }
}


// Footer

#footer-container {
  text-align: center;
  height: 100%;
  padding: $section-padding-mobile;
  margin-bottom: 55px;

  @include mq() {
    margin-bottom: 0;
  }

  h2 {
    font-family: $font-Futura;
  }

  span {
    font-size: 60%;
  }
}


// work.html

.detail-container {

  .title-wrapper {
    padding: 74px 17px 0;
    height: 45vh;
    position: relative;

    h1 {
      position: relative;
    }

    @include mq() {
      padding: 74px 70px 0;

      h1 {
        font-size: $h1-sm;
      }
    }
  }

  .background-brown {

    .dsc-wrapper {
      padding: 20px 17px;

      @include mq() {
        padding: 20px 70px;
      }

      div {

        .tags {
          margin: 30px auto;
          overflow: hidden;
          text-align: left;

          .tag {
            background: #ffffff26;
            border-radius: 3px 0 0 3px;
            color: $white;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 20px 0 23px;
            position: relative;
            margin: 0 10px 10px 0;
            text-decoration: none;

            &::before {
              background: $orange;
              border-radius: 10px;
              box-shadow: inset 0 1px rgba(0,0,0,0.25);
              content: '';
              height: 6px;
              left: 10px;
              position: absolute;
              width: 6px;
              top: 10px;
            }

            &::after {
              background: $dark-brown;
              border-bottom: 13px solid transparent;
              border-left: 10px solid  #ffffff26;
              border-top: 13px solid transparent;
              content: '';
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }
    }

    .ss-wrapper {
      @include flex;
      align-items: center;
      padding-bottom: 20px;

      img {
        max-width: 80%;
        margin-bottom: 5px;
      }

    }
  }

}

.open {
  .title-wrapper h1,
  .detail-container .tags .tag {
  }
}



// ======================================
//  Partial Imports
// ======================================

// Utilities
@import 'utilities/_typed_effect';
@import 'utilities/_slidein_effect';

// Base Styles


// Layout Styles

// Component Styles
@import "components/mobile_nav";


// Flex wrap + Flex Basis [flex-basis: 100% or 50% or 25%;]