// Variable (Size)
$h1: 3.2rem;
$h2: 2.5rem;

// Variable (Font)
$font-Futura: 'Futura SC Demi';
$font-Roboto: 'Roboto';


$test-color: grey;
$test-border: 1px solid red;


// Mixins
@mixin full-displayed {
  width: 100%;
  height: 100vh;
}


// Fonts
  @font-face {
    font-family: 'Futura SC Demi';
    src: url('../font/FuturaSC-Dem.otf') format('opentype');
  }


///////////////////////////////////////////////////////////////

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

section {
  @include full-displayed;
  border: $test-border;
}

section:nth-child(n+3){
  padding-top: 74px;
}


// Header

header {
  width: 100vw;
  padding-right: 1em;
  padding-left: 1em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: $test-color;
  a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}




// Intro

.intro-wrapper {
  height: 100vh;
  padding-top: 74px; // avoiding hiding behind header
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  .intro-content {
    text-align: center;
    margin-bottom: 8rem;

    h1 {
      font-size: $h1;
      font-family: $font-Futura, sans-serif;
      margin: 0;
    }

    .type-writer {
      height: 50px;
      width: 50px;
      background-color: $test-color;
    }
  }
}

// About Me
.about-wrapper {
  h2 {
    font-size: $h2;
  }
}



