// work.html

.detail-container {

  .title-wrapper {
    padding: 74px 17px 0;
    height: 45vh;
    position: relative;

    h1 {
      position: relative;
    }

    @include mq() {
      padding: 74px 70px 0;

      h1 {
        font-size: $h1-sm;
      }
    }
  }

  .background-brown {

    .dsc-wrapper {
      padding: 20px 17px;

      @include mq() {
        padding: 20px 70px;
      }

      div {

        .tags {
          margin: 30px auto;
          overflow: hidden;
          text-align: left;

          .tag {
            background: #ffffff26;
            border-radius: 3px 0 0 3px;
            color: $white;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 20px 0 23px;
            position: relative;
            margin: 0 10px 10px 0;
            text-decoration: none;

            &::before {
              background: $orange;
              border-radius: 10px;
              box-shadow: inset 0 1px rgba(0,0,0,0.25);
              content: '';
              height: 6px;
              left: 10px;
              position: absolute;
              width: 6px;
              top: 10px;
            }

            &::after {
              background: $bg;
              border-bottom: 13px solid transparent;
              border-left: 10px solid  #ffffff26;
              border-top: 13px solid transparent;
              content: '';
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }
    }

    .ss-wrapper {
      @include flex;
      align-items: center;
      padding-bottom: 20px;

      img {
        max-width: 80%;
        margin-bottom: 5px;
      }

    }
  }

}

.open {
  .title-wrapper h1,
  .detail-container .tags .tag {
  }
}
